Repository craftcms/commerce, pull requests merged in 2021-06, with the labels that each got.

#2161 Fixed a bug with stats if mysql timezones aren’t populated
  src/base/Stat.php
Labels: 🐞 bug, 📊 stats

#2196 Add `dateCreated` and `dateUpdated` meta details to CP pages
  CHANGELOG-3.4.md
  src/base/Plan.php
  src/base/ShippingMethod.php
  src/models/Address.php
  src/models/Country.php
  src/models/Customer.php
  src/models/PaymentCurrency.php
  src/models/Sale.php
  src/models/ShippingAddressZone.php
  src/models/ShippingCategory.php
  src/models/ShippingRule.php
  src/models/State.php
  src/models/TaxAddressZone.php
  src/models/TaxCategory.php
  src/models/TaxRate.php
  src/services/Addresses.php
  src/services/Countries.php
  src/services/Customers.php
  src/services/PaymentCurrencies.php
  src/services/Plans.php
  src/services/Sales.php
  src/services/ShippingCategories.php
  src/services/ShippingMethods.php
  src/services/ShippingZones.php
  src/services/States.php
  src/services/TaxCategories.php
  src/services/TaxRates.php
  src/services/TaxZones.php
  src/templates/addresses/_edit.html
  src/templates/customers/_edit.html
  src/templates/promotions/discounts/_edit.html
  src/templates/promotions/sales/_edit.html
  src/templates/shipping/shippingcategories/_edit.html
  src/templates/shipping/shippingmethods/_edit.html
  src/templates/shipping/shippingrules/_edit.html
  src/templates/shipping/shippingzones/_edit.html
  src/templates/store-settings/countries/_edit.html
  src/templates/store-settings/paymentcurrencies/_edit.html
  src/templates/store-settings/states/_edit.html
  src/templates/store-settings/subscription-plans/_edit.html
  src/templates/tax/taxcategories/_edit.html
  src/templates/tax/taxrates/_edit.html
  src/templates/tax/taxzones/_edit.html
Labels: 💡 enhancement, 🖥 UI

#2190 Ability to download a collated/merged PDF from the order index
  CHANGELOG-3.4.md
  composer.json
  composer.lock
  lib/chartjs-adapter-moment/chartjs-adapter-moment.min.js
  lib/deepmerge/umd.js
  src/elements/actions/DownloadOrderPdfAction.php
  src/elements/traits/OrderElementTrait.php
  src/templates/_components/elementactions/DownloadOrderPdf/trigger.twig
  src/translations/en/commerce.php
  src/web/assets/commercecp/dist/js/commercecp.js
  src/web/assets/commercecp/src/js/DownloadOrderPdf.js
Labels: 📕 translations

#2089 Added unsaved changes indicator to the order edit page
  src/templates/orders/_edit.html
  src/translations/en/commerce.php
  src/web/assets/commerceui/src/js/order/apps/OrderSecondaryActions.vue
  src/web/assets/commerceui/src/js/order/store/index.js
Labels: 📕 translations, 📝 order edit

#2185 Improve error explanation for discount `perEmailLimit` when an email is `null`
  CHANGELOG-3.4.md
  src/services/Discounts.php
  src/translations/en/commerce.php
Labels: 📕 translations, 📣 promotions, 🛒 checkout

#2151 Add options to give finer control when calculating top product revenue
  CHANGELOG-3.4.md
  src/stats/TopProducts.php
  src/templates/_components/widgets/products/top/settings.html
  src/translations/en/commerce.php
  src/web/assets/statwidgets/dist/css/statwidgets.css
  src/web/assets/statwidgets/src/scss/stat-widgets.scss
  src/widgets/TopProducts.php
Labels: 💡 enhancement, 📊 stats, 📕 translations

#2201 Added group deletion to promotions index pages
  CHANGELOG-3.4.md
  src/controllers/DiscountsController.php
  src/controllers/SalesController.php
  src/templates/promotions/discounts/index.html
  src/templates/promotions/sales/index.html
  src/translations/en/commerce.php
Labels: 📕 translations, 📣 promotions, 🖥 UI

#2057 Add new discount promotions user group excluded condition
  CHANGELOG-3.4.md
  example-templates/build/shop/_private/layouts/includes/footer.twig
  example-templates/build/shop/cart/_includes/shipping-estimator.twig
  example-templates/build/shop/cart/index.twig
  example-templates/build/shop/checkout/register-signin.twig
  example-templates/build/shop/customer/_includes/register.twig
  example-templates/build/shop/customer/_includes/sign-in.twig
  example-templates/build/shop/customer/index.twig
  example-templates/build/shop/customer/order.twig
  example-templates/build/shop/customer/sign-in.twig
  example-templates/build/shop/plans/index.twig
  example-templates/build/shop/plans/subscription/index.twig
  example-templates/build/shop/products/_includes/pagination.twig
  example-templates/src/shop/_private/layouts/includes/footer.twig
  example-templates/src/shop/checkout/register-signin.twig
  example-templates/src/shop/customer/_includes/register.twig
  example-templates/src/shop/customer/_includes/sign-in.twig
  example-templates/src/shop/customer/index.twig
  example-templates/src/shop/customer/sign-in.twig
  src/Plugin.php
  src/controllers/DiscountsController.php
  src/migrations/Install.php
  src/migrations/m201218_103541_add_user_condition_column_in_promotions.php
  src/models/Discount.php
  src/records/Discount.php
  src/services/Discounts.php
  src/templates/promotions/discounts/_edit.html
  src/translations/en/commerce.php
  tests/fixtures/data/discounts.php
  tests/unit/services/UserGroupConditionDiscountTest.php
Labels: 📕 translations

#2200 Add reserved attributes to orders, products and variant field layouts
  CHANGELOG-3.4.md
  src/controllers/OrderSettingsController.php
  src/models/ProductType.php
  src/translations/en/commerce.php
Labels: 📕 translations

#2202 Improved included tax options
  composer.json
  example-templates/build/shop/cart/index.twig
  src/Plugin.php
  src/adjusters/Tax.php
  src/controllers/ShippingCategoriesController.php
  src/controllers/TaxCategoriesController.php
  src/controllers/TaxRatesController.php
  src/elements/Variant.php
  src/migrations/Install.php
  src/migrations/m210608_093199_add_remove_included_to_taxrates.php
  src/migrations/m210611_093299_add_remove_vat_included_to_taxrates.php
  src/models/TaxRate.php
  src/records/TaxRate.php
  src/services/TaxRates.php
  src/templates/tax/taxrates/_fields.html
  src/templates/tax/taxrates/index.html
  src/translations/en/commerce.php
  tests/unit/adjusters/TaxTest.php
Labels: 💡 enhancement, 💰 tax, 📕 translations

#2205 Update product slide out editing
  src/elements/Order.php
  src/elements/Product.php
  src/templates/products/_edit.html
  src/templates/products/_fields.html
  src/web/assets/commercecp/dist/css/commercecp.css
  src/web/assets/commercecp/src/scss/commerce.scss
Labels: 👚 products, 🖥 UI

#2228 Fixed not copying addresses for new guest customers in the CP
  CHANGELOG.md
  src/services/Customers.php
Labels: 🏠 addresses, 📝 order edit
